.filter-container {
    margin-bottom: 20px;
  }
  
  .filter {
    margin-right: 10px;
  }
  
  .filter select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .filter button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter button:hover {
    background-color: #0056b3;
  }
  